
/*{outline: 1px solid red}*/
.nosotros{
	background-image: url(../img/dance_7.jpg);
	background-position: 0% 40%;
	padding: 70px 180px;
	
}
.nosotros-texto{
	height: 200px;
	width: 600px;
	background-color: black;
	opacity: 0.5;
	margin: auto;
	padding: 50px;
}
.pilares{
	background-image: url(../img/cubes.png);
	padding: 80px 50px ;
}
.pilares hr{
	margin-top: 20px;
	margin-bottom: 20px;	
}
.instructores{
	padding: 60px 40px 20px;
}

.list-instructores{
	list-style: none;
	margin-top: 30px;
	
}
.list-instructores li{
	width: 200px;
	display: inline-block;
	vertical-align: top;
	margin-left: 14px;
	margin-bottom: 50px;
	text-align: center;	
}
.list-instructores .picture{
	height: 150px;
	overflow: hidden;
}
.list-instructores img{
	width: 100%;
}
.list-instructores .picture:hover{
	border-radius: 100px;
	transition: all 1.5s;
	border: 2px solid #000;
	
}
.list-instructores h4{
	margin:0;
}
.frases2{
	background-image: url(../img/cubes.png);
	padding: 80px 50px ;
}
.frases2 p{
	font-size: 24px;
}